server:
  port: 8085

spring:
  application:
    name: ms-profesores

  datasource:
    url: jdbc:postgresql://${DB_HOST:${POSTGRES_HOST:localhost}}:${DB_PORT:5432}/${DB_NAME:asesoriasdb}
    username: ${DB_USER:profesores}
    password: ${DB_PASSWORD:profesores_pass}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate.default_schema: profesores
      hibernate.jdbc.time_zone: UTC

  main:
    allow-bean-definition-overriding: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    enabled: true
  instance:
    prefer-ip-address: true

logging:
  level:
    root: INFO
    com.uteq: DEBUG
