server:
  port: 8091

spring:
  application:
    name: ms-admin

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      connection-timeout: 60000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate.default_schema: admin
      hibernate.jdbc.time_zone: UTC
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      packages-to-scan: com.uteq.admin

  main:
    allow-bean-definition-overriding: true

cloud:
  discovery:
    enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    enabled: true